body {
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
}


.container {
    height: auto;
    background-color: #1c272d;
    padding: 30px 10px;
    text-align: center;
}

.container > div {
    padding: 10px;
    margin: 10px;
    background-color: #4e5258;
    border-radius: 10px;
}


#ability {
    text-align: start;
    margin-bottom: 50px;
}

#ability h2 {
    text-align: center;
    margin-bottom: 50px;
}

.guide {
    font-size: 80%;
}

ul {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(9, 1fr);
}


#search {
    font-size: 20px;
    display: block;
    width: 100px;
    height: 60px;
    margin: auto;
    border: none;
    border-radius: 5px;
}

h2 {
    color: rgb(125, 209, 86)
}

label {
    line-height: 2em;
    font-size: 1.1em;
}